@model IEnumerable<GESTELEC.Models.Pylone>

@{
    ViewBag.Title = "Pylones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table {
        background-color: #f7f7f7;
        border-radius: 5px;
        border: none;
        border-collapse: separate;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    th {
        background-color: #34495e;
        color: white;
        font-weight: bold;
        padding: 10px;
        text-align: center;
    }

    td {
        background-color: white;
        color: #34495e;
        padding: 10px;
        text-align: center;
    }

    .btn {
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        margin: 5px;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .btn-primary {
        background-color: #3498db;
    }

        .btn-primary:hover {
            background-color: #2980b9;
        }

    .btn-default {
        background-color: #95a5a6;
    }

        .btn-default:hover {
            background-color: #7f8c8d;
        }

    h2 {
        color: #34495e;
        font-family: 'Arial', sans-serif;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    p {
        margin-top: 20px;
    }

    a {
        color: #3498db;
        text-decoration: none;
    }
</style>


<h2><b>Pylones</b></h2>

<div class="col-md-auto">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success float-md-right" })
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PyloneId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LigneElectrique)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EtatDegradation)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PyloneId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LigneElectrique)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ville)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EtatDegradation)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PyloneId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PyloneId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PyloneId })
            </td>
        </tr>
    }
</table>
